<h2 class="page-header">Scoreboard</h2>
<table class="table leaderboard table-bordered" style="width:auto">
  <tbody>
    <% @scoreboard.scores.each do |team, score| %>
      <tr>
        <th><%= team %></th>
        <td><%= score.round %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>Updating every 30 seconds…</p>
<script type="text/javascript" charset="utf-8">
  setTimeout(function(){ location.reload() }, 30000)
</script>
